
   <div class="jumbotron mt-4">
       <h1 class="display">
           Notes App NodeJs And MongoDB
       </h1>
       <p class="lead">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dicta accusamus labore mollitia hic error.
       </p>

       <hr class="my-4">
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda quidem officia consequatur aliquam porro numquam cum, impedit dolorum aspernatur reiciendis.</p>
       <a href="#" class="btn btn-primary"></a>
   </div>