<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SAI APP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
        </div>
        <div class="navbar-nav ml-auto">
          {{#if user}}
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Elementos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/notes">All items</a></li>
              <li><a class="dropdown-item" href="/notes/add">Add item</a></li>
              <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
            </ul>
          </div>
          {{else}}
          <a
            class="nav-link active"
            aria-current="page"
            href="/users/singin"
          >Login</a>
          <a class="nav-link" href="/users/singup">Register</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>